.header{
    
    width: 100vw;
   
}
.headercontainer{
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  
}
.greetext{
    flex: 0 1 50%;
    display: grid;
    place-content: center;
    color: white;
    position: relative;
  
    
    
}
.greetext h1{
    flex: 0 1 50%;
    text-align: center;
    font-size: 3rem;
   
}
.searchbox{
    height: 50px;
    flex: 0 1 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    border-radius: 5px;
    width: 100%;
    position: absolute;
    bottom: 50px;
    
   
    max-width: 1054px;
    background-color: #E9C46A;
    transform: translate(25%, -0%);
    
    
   
    
}
.searchboxInput{
    border: none;
    outline: none;
}
.Icon{
    background-color: #2A9D8F;
    
}
.searchboxItem{
    display: flex;
  align-items: center;
  gap: 10px;
}
.searchboxText{
    cursor: pointer;
    
    
}
.headerinput{
    width: 60%;
    font-weight: 500;
    height: 55px;
    border: 2px solid #2A9D8F;
}


.headerbtn{
    background-color: #2A9D8F;
    color: white;
    font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
  height: 61px;
width: 13%;
font-size: 15px;
border: 2px solid #2A9D8F

}

.options{
    position: absolute;
    background-color: white;
    color: gray;
    border-radius: 5px;
    box-shadow: 0px 0px 1àpx -5px rgba(0, 0, 0, 0.4);
    z-index: 2;
   top:50px
}
.optionItem{
width: 200px;
display: flex;
justify-content: space-between;
margin: 10px;

}
.optionCounter{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: black;
}
.optionCounterButton{
width: 30px;
height: 30px;
border: 1px solid #0071c2;
color: #0071c2;
cursor: pointer;
}
.optionCounterButton:disabled{
cursor: not-allowed;
}